<section class="usp-section scroll-trigger animate--slide-in">
    <div class="usp-container">
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/FAST_DELIVERY_-_24X24_f77f253d-0b67-470a-a2ae-94688fc87696.svg?height=50&amp;v=1740139007" alt="" srcset="//swyfthome.com/cdn/shop/files/FAST_DELIVERY_-_24X24_f77f253d-0b67-470a-a2ae-94688fc87696.svg?height=50&amp;v=1740139007 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">Fast Delivery</span></div>
      
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/100_RETURNS_-_24X24_43c2a4e7-f88c-4375-af41-201080f2f63c.svg?height=50&amp;v=1740138250" alt="" srcset="//swyfthome.com/cdn/shop/files/100_RETURNS_-_24X24_43c2a4e7-f88c-4375-af41-201080f2f63c.svg?height=50&amp;v=1740138250 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">100 day returns</span></div>
      
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/GUARANTEED_FIT_-_24X24_ae8968f7-2e83-4060-acd8-37acf3de529c.svg?height=50&amp;v=1740138787" alt="" srcset="//swyfthome.com/cdn/shop/files/GUARANTEED_FIT_-_24X24_ae8968f7-2e83-4060-acd8-37acf3de529c.svg?height=50&amp;v=1740138787 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">Guaranteed to Fit</span></div>
      
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/EASY_ASSEMBLY_-_24X24_7995ab33-187a-423f-acec-2512e3a59e35.svg?height=50&amp;v=1740138641" alt="" srcset="//swyfthome.com/cdn/shop/files/EASY_ASSEMBLY_-_24X24_7995ab33-187a-423f-acec-2512e3a59e35.svg?height=50&amp;v=1740138641 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">Easy Assembly</span></div>
      
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/FRAME_GUARANTEE_-_24X24_4dd7f5ec-7ebf-4237-bcf8-a571abd49b0c.svg?height=50&amp;v=1740138472" alt="" srcset="//swyfthome.com/cdn/shop/files/FRAME_GUARANTEE_-_24X24_4dd7f5ec-7ebf-4237-bcf8-a571abd49b0c.svg?height=50&amp;v=1740138472 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">15 year frame guarantee</span></div>
      
        <div class="usp-item"><span class="usp-icon">
            <img src="//swyfthome.com/cdn/shop/files/5_STARS_-_24X24_0147b348-f897-4658-93a6-6d0851639d3b.svg?height=50&amp;v=1740138008" alt="" srcset="//swyfthome.com/cdn/shop/files/5_STARS_-_24X24_0147b348-f897-4658-93a6-6d0851639d3b.svg?height=50&amp;v=1740138008 50w" width="50" height="50" loading="lazy">
          </span>
          <span class="usp-text">500k happy customers</span></div>
      </div>
</section>