    {{ 'notify-overlay.css' | asset_url | stylesheet_tag }}

<div class="modal notify-form" aria-hidden="false" role="dialog" aria-labelledby="modal-title">
  <div class="modal__overlay" data-close-modal=""></div>
  <div class="modal__content_" tabindex="-1">
    <div class="modal__header">
      <h2 id="modal-title">Notify when available</h2>
      <button class="modal__close-button" type="button" aria-label="Close" data-close-modal=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-close" viewBox="0 0 18 17"><path fill="currentColor" d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"></path></svg>
    </button>
    </div>
    <div class="modal__body">
      <notify-form data-product-id="9606546686287" data-variant-id="49789940433231" class="color-scheme-2" data-popup="true">
        <p class="notify-form__content">This item is out of stock, but we receive deliveries every week. Enter your email for a stock notification.</p>
        <form method="post" class="product-notify-form" data-asset="product-notify-form">
          <div class="field">
            <input type="email" name="user_email" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Email" required="">
            <input type="hidden" name="product_title" value="">
            <label class="field__label">
              Enter your email
            </label>
            <button type="submit" class="button button--primary" name="notify_form_submit" aria-label="Submit">
              <span>Submit</span>
            </button>
          </div>
          <div class="notify-form__message" role="alert" data-asset="alert-message">
            <small class="notify-form__message-text"></small>
            <span class="svg-wrapper error"><svg class="icon icon-error" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="2"></circle><circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"></circle><path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"></path><path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"></path></svg>
</span>
            <span class="svg-wrapper success"><svg class="icon icon-success" viewBox="0 0 13 13"><path fill="#428445" stroke="#fff" stroke-width=".7" d="M6.5 12.35a5.85 5.85 0 1 0 0-11.7 5.85 5.85 0 0 0 0 11.7Z"></path><path stroke="#fff" d="m5.533 8.664 3.72-3.982M4.106 6.769l2.032 1.857"></path></svg>
</span>
          </div>
          <div class="field field__accepts_marketing" data-asset="accepts-marketing">
            <input id="notify-me-textbox" type="checkbox" name="accepts_marketing" class="field__checkbox" aria-required="true" required="">
            <label for="notify-me-textbox" class="field__label">I agree to receive Swyft email notifications</label>
          </div>
        </form>
      </notify-form>
    </div>
  </div>
</div>