<div id="product-popup-overlay" class="popup-overlay" style="display:none;">
    
    <div class="varient-popup-content">
        <div class="popup-head-title">
            <h2 id="modal-title">Pick your fabric</h2>
            <button class="popup-close" type="button" aria-label="Close" data-close-modal="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-close" viewBox="0 0 18 17"><path fill="currentColor" d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"></path></svg>
            </button>
        </div>
        <div class="varient-popup-main-content">
            <div class="varient-picker-overlay-left">
                <img id="popup-product-image" src="" alt="">
                <h2 id="popup-product-collection"></h2>
                <h2 id="popup-product-title"></h2>
                <p id="popup-product-price"></p>
            </div>
            <div class="varient-picker-overlay-right">
                <!-- Variant Picker -->
                {% for option in product.options_with_values %}
                    <fieldset class="js product-form__input product-form__input--pill">
                        <legend class="form__label-main">{{ option.name }}</legend>
                        <div class="product-variant-picker">
                            {% render 'product-varient-option-popup',
                            product: product,
                            option: option,
                            block: block,
                            picker_type: 'button'
                            %}
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
        </div>
        <div class="modal__footer">
            <button aria-label="Close" data-close-modal="" class="overlay-conform-varient">
                Confirm selection
            </button>
        </div>
    </div>
</div>
