<div role="dialog" aria-modal="true" aria-label="POPUP Form" class="swatch-popup-overlay swatch-hidden">
  <div class="swatch-popup-container">
    <button tabindex="0" aria-label="Close dialog" class="swatch-popup-close">
      ✕
    </button>
    <div class="swatch-popup-content">
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/TAYWwJ/images/d635e79c-a9f7-48a2-97d0-1916d6cb5683.jpeg" alt="Swatch Box" class="swatch-popup-image">
      <div class="swatch-popup-text">
        <div class="swatch-ad-text-top">
            <h2 class="swatch-popup-subtitle">SWATCH BOX</h2>
            <h1 class="swatch-popup-title">Order your free swatch box</h1>
        </div>
        <button class="swatch-popup-btn">Click here for your free Swatch Box</button>
      </div>
    </div>
  </div>
</div>
