<div class="banner banner--medium banner--desktop-transparent">
  <div class="banner__media">
    <img 
      src="//swyfthome.com/cdn/shop/files/MODEL_04_OCEAN_-_HOMEPAGE.png?v=1753691737&width=1500" 
      alt="Summer Sale Banner" 
      class="banner__media-desktop"
      loading="eager"
      width="100%"
      height="auto"
    >
  </div>

  <div class="banner__content_box">
    <div class="banner__box">
      <h2 class="banner-heading-title">The Summer Holiday Sale continues</h2>
      <div class="banner_text">
        <p>Up to 40% Off Favourites, Ends Sunday at 23:59</p>
      </div>
      <div class="banner__buttons">
        <a href="/collections/sale" class="banner-home-button">Shop Sale</a>
      </div>
    </div>
  </div>
</div>
