.popup-overlay {

  display: none; 
  position: fixed; 
  top: 0; left: 0;
  width: 100vw;
    backdrop-filter: blur(28px);
    height: 100vh;
    background: rgb(0 0 0 / 50%);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.varient-popup-content {
  background: #fff;
  padding: 20px 40px;
  height: 90%;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  animation: popupFade 0.3s ease-in-out;
}
.varient-popup-main-content{
    display: flex;
    flex-direction: row;
}
.varient-picker-overlay-left{
    width: 30%;
    text-align: left;
}
.varient-picker-overlay-right{
    width: 70%;
    padding: 0 25px;
}

.varient-popup-content img {
  max-width: 100%;
  border-radius: 5px;
}

.popup-close {
    height: 44px;
    background: transparent;
    color: #585858;
    border-radius: 50px;
    width: 44px;
    font-size: 22px;
    cursor: pointer;
    border: 0.5px solid #d4d4d4;
    padding: 10px;
}

@keyframes popupFade {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.product-form__input--pill input[type='radio'].disabled:checked + label p, .product-form__input--pill input[type='radio']:disabled:checked + label p {
    position: absolute;
    top: 50px;
}
.varient-picker-overlay-right .product-variant-picker {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-variant-picker .variant-options-wrapper {
    display: flex
;
}
.variant-material-option {
    display: flex;
    flex-wrap: wrap;
}
.material-assigned-varient {
    display: flex
;
}
p.colour-switch-varient-name {
    color: black;
}
.variant-material-option .material-color-item {
    min-width: 50%;
}
.varient-picker-overlay-right fieldset.js.product-form__input.product-form__input--pill {
    max-width: 100% !important;
}
.varient-picker-overlay-right img.colour-switch-varient {
    min-width: 48px !important;
    border-radius: 50px !important;
    height: 48px !important;
}
.varient-picker-overlay-right .varient-color-picker{
    width: 50px;
    height: 50px;
}
.varient-picker-overlay-right .product-form__input--pill input[type='radio']:hover + label {
        border: 1px solid black;
        width: 52px;
        height: 52px;
        background-color: white;
}
 .varient-picker-overlay-right .product-form__input--pill input[type='radio']:checked + label{
    width: 55px;
    border: 1px solid black;
    height: 55px;
    padding: 1px;
    flex-direction: column;
    background-color: transparent;
}
 .varient-picker-overlay-right .product-form__input--pill input[type='radio']:checked + label p{
    position: absolute;
    top: 50px;
}
:is(.product-form__input--pill, .product-form__input--swatch) .form__label-main{
    font-size: 18px;
    text-align: left;
    font-family: MADESunflower, sans-serif;
    padding-left: 20px;
}

.product-popup-trigger {
    margin: 5px 0;
    letter-spacing: 0.1rem;
    border: 1px solid #6c6c6c;
    font-family: sans-serif;
    font-size: 1.5rem;
    transition: all 0.3s ;
    border-radius: 25px;
    padding: 11px 33px;
}

.product-popup-trigger:hover{
    cursor: pointer;
    transform: scale(1.04);
}
h2#popup-product-title{
    color: black;
    font-size: 1.5rem;
}
h2#popup-product-collection {
    font-family: 'MADESunflower';
    color: black;
    margin: 0;
}
h2#modal-title {
    font-family: MADESunflower, sans-serif;
    color: black;
    margin: 0;
    font-size: 2.8rem;
}

.popup-head-title{
    display : flex;
    justify-content: space-between;
}
.varient-popup-content .modal__footer {
    display: flex;
    flex-direction: row-reverse;
}
button.overlay-conform-varient {
    color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 50px;
    border: 1px solid #585858;
    background: rgb(96 147 172);
    font-family: sans-serif;
}
button.overlay-conform-varient:hover{
    cursor: pointer;
}
@media (max-width: 768px) {
  /* CSS rules for screens up to 768px */
.varient-popup-main-content{
    flex-direction: column;
    overflow-y: scroll;
}
h2#popup-product-collection{
    margin-top: 250px;
}
.varient-picker-overlay-left{
    width: 100%;
}
.varient-picker-overlay-right{
    width: 100%;
    padding: 0;
}
.varient-popup-content{
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
 #popup-product-image {
        position: absolute;
        width: calc(100% - 4rem);
        height: auto;
        overflow: visible;
        z-index: 3;
}
section#ProductInfo-template--25331653706037__main {
    padding: 0 20px;
}
}
