@font-face {
    font-family: "MADE Sunflower";
    src: url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.eot");
    src: url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e092e7f1f4b833ac1d1d4541ffe284f0.svg#MADE Sunflower")format("svg");
}
.announcement-header {
    background-color: #6093ac!important;
}
.announcement-bar__message {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    letter-spacing: 0.1rem;
    color: white;
    font-size: 15px !important;
    font-weight: 400 !important;
    min-height: 3.8rem;
}
header.header.header--top-left.header--mobile-center.page-width.header--has-menu.header--has-account.header--has-localizations {
    flex-direction: row;
    display: flex
;
    margin: 0;
    justify-content: space-between;
    padding: 0 22px;
}
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner__media img {
  width: 100%;
  height: auto;
  display: block;
}
.banner__media {
  position: relative;
  overflow: hidden;
}

.banner__media::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 100%);
  pointer-events: none;
}
details-modal.header__search.header---search {
    display: flex
;
}

/* mobile drawer */
.mobile-drawer-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
}

.drawer-overlay {
  flex: 1;
  background: rgba(0, 0, 0, 0.5);
}

.drawer-content {
    width: 80%;
    left: 65px;
    max-width: 300px;
    top: 77px;
    background: #ffffff;
    position: absolute;
    padding: 1rem;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}



.mobile-drawer.active .drawer-content {
  transform: translateX(0);
}

.mobile-drawer.hidden {
  display: none;
}

.drawer-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  float: right;
}

.drawer-open {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .drawer-open {
    display: inline-block;
  }
}

/* Accordion Styles */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-panel {
  display: none;
  padding-left: 1rem;
}

.accordion-item.active .accordion-panel {
  display: block;
}
/* drawer closed */

.banner__content_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__box {
  position: absolute;
  top: 14%;
  left: 4%;

  border-radius: 8px;
  color: white;
  max-width: 68rem;
}

@font-face {
  font-family: 'MADESunflower';
  src: url('https://swyfthome.com/cdn/shop/t/2/assets/MADESunflower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.banner-heading-title {
  font-size: 62px;
  margin: 0 0 1rem;
  color: white;
  font-family: 'MADESunflower', sans-serif !important;
}


.banner_text p {
  margin: 0 0 1rem;
    font-size: 1.8rem;
    line-height: calc(1 + .8 / var(--font-body-scale));
    letter-spacing: .06rem;
}

.banner__buttons  .banner-home-button {
  background: #fff;
  color: #000;
  padding: 1.1rem 3.3rem;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
}

a.banner-home .banner-home-button {
    border-radius: 50px;
    align-items: center;
    text-align: center;
    display: inline-grid
;
}
.accordion-header a {
    color: black !important;
    font-size: 20px;
    text-decoration: none;
}
li.accordion-item {
    border-bottom: 1px solid #b3b3b3;
}
.header{
  margin: 0 !important;
  padding: 0!important;
}
nav.header__inline-menu {
    margin: 0 !important;
}
a.header__icon.header__icon--call.link.focus-inset {
    border-left: 1px solid #b5b5b5;
}
a.header__menu-item span {
    color: #5a5959;
    font-size: 15px;
    font-family: BasicSans, SANS-SERIF;
}
.header__menu-item span {
    color: #5a5959;
    font-size: 15px;
    font-family: BasicSans, SANS-SERIF;
}
/* responsive */
@media screen and (max-width: 749px) {
  .header{
    padding: 0!important;
  }
.utility-bar__grid.page-width{
  padding: 0!important;
}
ul.accordion-menu {
    padding: 0;
    list-style: none;
}
.announcement-bar__message{
  font-size: 12px;
}
}
@media only screen and (max-width: 700px){
.banner-heading-title{
    font-size: 48px;
}
.banner__media img {
  width: 100%;
  height: 450px;
  display: block;
  object-fit: cover;
}
.banner__box {
    position: absolute;
    top: 10%;
    left: 4%;
    border-radius: 8px;
    color: white;
    max-width: 68rem;
}
}

h2.rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in {
    font-size: 48px;
    font-family: MADESunflower, sans-serif;
}
.usp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
section.usp-section {
    width: 90%;
    margin: 0 auto;
}
.image-with-text__grid.grid.grid--gapless.grid--1-col.image-with-text__grid--reverse.grid--2-col-tablet {
    flex-direction: row-reverse;
}
h2.image-with-text__heading.inline-richtext.h1 {
  font-family: MADESunflower, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: #141414;
}
.page-width {
    width: 100% !important;
    padding: 0;
}

div#shopify-section-sections--25267975061813__header {
    position: sticky;
    z-index: 20;
    top: 0;
}

.image-with-text__content.image-with-text__content--top.image-with-text__content--desktop-left.image-with-text__content--mobile-left.image-with-text__content--adapt.content-container.background-transparent {
    margin: auto 0;
    margin: 0 auto;
    width: 70%;
    align-content: center !important;
    padding: 10px 0;
    display: flex
;
    justify-content: space-evenly;
    height: 90%;
    align-items: start;
    flex-direction: column;
}


div#shopify-section-template--25267975586101__icon_home {
    padding: 50px 0;
}
a.button.home--button.button--secondary::after {
    border-radius: 25px !important;
}